@model TravelTime.Models.Trip

@{
    ViewBag.Title = "Location";
}
<div ng-app="map">
<div ng-controller="mapController">
    {{position}}

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="user" coords="'self'" click="'onClick'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>you</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
        <ui-gmap-markers models="markers" coords="'self'" click="'onClick'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
        <ui-gmap-polylines models="map.trip" path="'path'" stroke="'stroke'" visible="'visible'"
                           geodesic="'geodesic'" static="true">
        </ui-gmap-polylines>
        <ui-gmap-polylines models="map.walk" path="'path'" stroke="'stroke'" visible="'visible'"
                           geodesic="'geodesic'" static="true">
        </ui-gmap-polylines>
    </ui-gmap-google-map>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/cordovaand")
    @Scripts.Render("~/bundles/location")

}
